.orange-btn {
	padding: 10px;
	border-radius: 4px;
	background-color: sandybrown;
	color: white;
	text-decoration: none;
	transition: 0.5s;
}

.orange-btn:hover {
	background-color: rgb(240, 134, 41);
	transition: 0.5s;
}
